@import "../styles/globals.css";

@layer base {
	html,
	body {
		@apply min-h-screen min-w-[320px] m-0 p-0;
	}

	body {
		@apply flex flex-col;
	}

	#root {
		@apply flex min-h-screen flex-1;
	}
}

@media (prefers-reduced-motion) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms;
		animation-iteration-count: 1;
		scroll-behavior: auto;
		transition-duration: 0.01ms;
	}
}
